@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
}

body {
	background-color: royalblue;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	width: 2040px;
    margin-top: 100px;
}
.text-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(244, 38%, 16%);
	border-bottom-left-radius: 5%;
	border-top-left-radius: 5%;
}
.header {
	font-family: 'Inter', sans-serif;
	text-transform: lowercase;
	text-align: left;
	font-size: 4.5em;
	width: 80%;
	color: hsl(0, 0%, 100%);
	padding-top: em;
}

.text-container p {
	text-align: left;
	color: seashell;
	width: 80%;
	font-size: 2.5em;
	margin: 1em 0;
	line-height: 1.6em;
}

.insights {
	color: purple;
	font-size: 1em;
}

.info-container {
	display: flex;
	flex-direction: row;
	width: 80%;
	align-items: center;
}

.image-container {
	position: relative;
	width: 50%;
}

.image {
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom-right-radius: 5%;
	border-top-right-radius: 5%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(rgba(79, 185, 123, 0.747), green, blue, 0.5);
}

h2 {
	color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
